*{
  padding:0;
  margin:0;
 box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.products .card,.single-page-img{
  transition: all .5s ease-in-out;
}
.products .card:hover,.single-page-img:hover{
  transform: scale(1.03) translateY(-10px);
  /* transform:translateY(-5px); */
  box-shadow:3px 3px 8px rgba(0,0,0,.5)
}
#carousel_home img{
 height: 650px;
}
.single-page-img{
  max-height: 400px;
  /* max-width:400px;
  width:100%; */
}
@media (max-width: 576px) {
  #carousel_home img {
    height: auto;
  }
}
